.how-we-work {
    position: relative;
}

.how-we-work::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: var(--accent-color);
    z-index: -1;
}

.how-we-work__container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 68px;
}

.how-we-work__background {
    margin-left: 337px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: calc(100%-337px);
    z-index: -1;
    background-color: var(--accent-color);
}

.how-we-work__text {
    position: relative;
    display: flex;
    margin-bottom: 50px;
    gap: 263px;
}

.how-we-work__title h1 {
    width: 630px;
    text-align: right;
    color: white;
    font-family: Sen;
    font-size: 144px;
    font-style: normal;
    font-weight: 800;
    line-height: 96%;
    text-transform: uppercase;
}

.how-we-work__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.how-we-work__description p {
    width: 277px;
    padding-left: 30px;
    color: var(--accent-color);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.how-we-work__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.list__item--how-we-work {
    border-radius: 10px;
}

.how-we-work__button {
    display: block;
    margin: 0 auto;
}