.services {
    background-color: white;
    padding-top: 58px;
    padding-bottom: 50px;
}

.container--services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__title {
    color: var(--accent-color);
    font-family: Sen;
    font-size: 144px;
    font-style: normal;
    font-weight: 800;
    line-height: 96%;
    text-transform: uppercase;
    margin: 50px;
}

.services__list { 
    display: flex;
    gap: 22px;
    margin-bottom: 50px;
}

.list__item--services {
    max-width: 385px;
    border: 1px solid var(--border-color);
    border-radius: 30px;
}

.item__text--services { 
    padding: 30px;
}

.item__names--services {
    color: var(--accent-color);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    margin-bottom: 10px;
}

.item__paragraphs--services {
    color: black;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.services__button {
    color: white;
    cursor: pointer;
    border-radius: 30px;
    background: var(--button-color);
    text-transform: uppercase;
    border: none;
    padding: 18px 38px;
    width: 195px;
    transition: 300ms;
}
