:root {
    --accent-color: #C98A40;
    --button-color: #FDBA10;
    --border-color: #FFD8AB;
    --input-form-color: #FFD39F;
    --background-footer-color: #584125;
}

body {
    margin: 0;
    background-image: url(img/background.png);
    background-repeat: repeat;

    font-family: 'Poppins', 'Sen' sans-serif;
    font-family: 'Sen', sans-serif;

    font-weight: 900;
    font-size: 18px;
    color: black;
}

h1,
h2,
h3,
p,
ul,
li {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}