:root {
    --accent-color: #C98A40;
    --button-color: #FDBA10;
    --border-color: #FFD8AB;
    --input-form-color: #FFD39F;
    --background-footer-color: #584125;
}

body {
    margin: 0;
    background-image: url(img/background.png);
    background-repeat: repeat;

    font-family: 'Poppins', sans-serif;
    font-family: 'Sen', sans-serif;

    font-weight: 900;
    font-size: 18px;
    color: black;
}

h1,
h2,
h3,
p,
ul,
li {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style-type: none;
}

img {
    display: block;
}

button {
    color: white;
    cursor: pointer;
    border-radius: 30px;
    background: var(--button-color);
    text-transform: uppercase;
    border: none;
    padding: 18px 38px;
    width: 195px;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    transition: 300ms;
}

button:active {
    box-shadow: inset 0 0 20px 5px rgba(255, 255, 255, 0.3);
}

.container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
    height: 100%;
}